<div id="main">
	<div class="container" id="signup">
<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :defaults => { :input_html => { :class => "form-control" }}, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
</div>
</div>
