<li>
    <div class="row">
        <div class="col-md-1">
            <%= link_to (image_tag activity.owner.avatar(:thumb)), activity.owner if activity.owner %>
        </div>
        <div class="col-md-9">
            <p><strong><%= link_to activity.owner.name, activity.owner if activity.owner %></strong>  <%= render_activity activity, :class =>"activity-comment" %></p>
            <div class="activity-actions">
                <ul class="activity-comments">
                    <% Acomment.all.where(:activity_id => activity.id).each do |acomment| %>
                    <li>
                        <div class="row">
                            <div class="col-md-1">
                                <%= image_tag User.find(acomment.user_id).avatar.url%>
                            </div>
                            <div class="col-md-9">
                                <%= link_to User.find(acomment.user_id).name, user_path(acomment.user_id) %><span style="font-size: 12px;"> <%= acomment.comment %></span>
                            </div>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </div>
            <div id="ac-<%= activity.id %>" style="display: none;">
                <%= form_for @acomment, :url => acomments_path, method: :post do |f| %>
                    <%= f.hidden_field :activity_id, :value => activity.id %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.text_field :comment, :class => "form-control comment-field" %>
                    <%= f.submit "Comment", :class => "btn btn-default pull-right clearfix btn-bookloop" %>
                    <div class="clearfix"></div>
                <% end %>
                <script type="text/javascript">
                    $(function(){
                        $('#al-<%= activity.id %>').click(function(){
                            $('#ac-<%= activity.id %>').toggle();
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</li>