<div id="main">
  <div class="container">
    <div class="row">
      <div class="row">
        <%= render 'layouts/sidebar' %>
        <div class="col-md-9 col-md-offset-1" id="conversation">
          <label><%= @group.title %></label>

          <% if @status %>
            <%= link_to 'Cancel join request', leave_group_membership_path(@group, @status), method: :post, confirm: 'Are you sure you wish to cancel your membership request?', class: 'btn btn-danger' %></li>
          <% else %>
            <%= simple_form_for [@group, @membership] do |f| %>
              <%= f.submit (@group.public? ? 'Join' : 'Request to join'), class: 'btn btn-primary' %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
