<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-md-offset-1" id="group-info">

				<% if @join_status && @join_status.approved.nil? %>
					<h2><%= @group.title %></h2>

					<p>Once a group memeber approves your request you'll be able to instantly discuss books and chat to other members.</p>

					<hr />

					<%= form_tag cancel_join_request_group_path, method: :delete do %>
						<%= hidden_field_tag :user_id, current_user.id %>
						<%= submit_tag 'Cancel join request', class: 'btn btn-default' %>
					<% end %>
				<% else %>

					<% if @group.owned_by?(current_user) %>
						<%= link_to 'Delete Group', group_path(@group), class: 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete %>
					<% end %>

					<% if !@join_status && @group.public? %>
						<%= form_tag do_join_request_group_path, method: :post do %>
							<%= hidden_field_tag :user_id, current_user.id %>
							<%= submit_tag 'Join public group', class: 'btn btn-success' %>
						<% end %>
					<% end %>

					<h2><%= @group.title %></h2>
  				
  				<p><em>This group was created by <%= link_to @group.user.name, @group.user %>.</em></p>

  				<% if @group.description.present? %>
  					<p><em><%= @group.description %></em>
  				<% end %>
  				
  				<div id="book-nav">
						<ul>
							<li><a href="#group-discussion" class="active">Discussion</a></li>
							<li><a href="#group-books">Books</a></li>
							<li><a href="#group-members">Members</a></li>
							<%= content_tag(:li, link_to('Requests', '#group-requests')) if @requests.any? %>
						</ul>
					</div>

					<div id="group-discussion">

					<%= simple_form_for [@group, @comment], url: group_gcomments_path(@group) do |c| %>
						<%= c.input :body, placeholder: 'Comment...', input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'} %>
						<%= c.submit 'Add comment', class: 'btn btn-primary' %>
					<% end %>

						<% if @discussions.length > 0 %>
							<ul>
							<% @discussions.each do |discussion| %>
								<li>
									<h5><%= discussion.user.name %> said <%= time_ago_in_words discussion.created_at %>:</h5>
									<%= discussion.body %>
									<%= link_to('Delete', group_gcomment_path(@group, discussion), method: :delete, confirm: 'Are you sure?', class: 'btn btn-default') if discussion.user == current_user %>
								</li>
							<% end %>
							</ul>
						<% else %>
							<p>
								<em>Nobody is talking about the books in this group right now. Why don't you start?</em>
							</p>
						<% end %>
					</div>

					<div id="group-books">
						<h5>Add a book</h5>

						<% if @books.length > 0 %>
							<div class="row" id="reads">
	    					<% @books.each do |book| %>
		    					<div class="col-md-2">
		    						<%= link_to book do %>
		    							<%= image_tag ("http://images.amazon.com/images/P/#{Book.find(book.id).isbn}.01.LZZZZZZ.jpg") %>
		    						<% end %>
		    					</div>
	    					<% end %>
	    				</div>
						<% end %>
					</div>

					<div id="group-members">
							<% @members.each do |member| %>
								<h5><%= member.user.name %></h5>
								<% unless @group.owned_by?(member.user) %>
									<%= form_tag remove_member_group_path, method: :delete do %>
										<%= hidden_field_tag :user_id, member.user.id %>
										<%= submit_tag 'X', class: 'btn btn-default' %>
									<% end %>
								<% end %>
							<% end %>
					</div>

					<% if @requests.length > 0 %>
					<div id="group-requests">
						<% @requests.each do |request| %>
							<h5><%= request.user.name %></h5>
							<%= form_tag accept_join_request_group_path, method: :post do %>
								<%= hidden_field_tag :user_id, request.user.id %>
								<%= submit_tag 'Approve', class: 'btn btn-success' %>
							<% end %>

							<%= form_tag decline_join_request_group_path, method: :post do %>
								<%= hidden_field_tag :user_id, request.user.id %>
								<%= submit_tag 'Decline', class: 'btn btn-danger' %>
							<% end %>
						<% end %>
					</div>
					<% end %>

				<% end %>

    		</div>
			</div>
		</div>
	</div>
</div>
