<div class="bl-book-page">
	<div align="right">
		
		<% if @user.id == current_user.id %>
			<%# Do nothing since the current user is looking at his own profile %>
		<% else %>
			<% if current_user.following?(@user) %>
				<button><%= link_to "Unfollow", unfollow_user_path(@user) %></button>
			<% else %>
				<button><%= link_to "Follow", follow_user_path(@user) %></button>
			<% end %>
		<% end %>
	
 	</div>
 	<div id="avatar" align="center">
 		<%= image_tag avatar_big_url(@user), :class=>"img-circle"  %>
	</div>
	<h2 align="center"><%= link_to @user.name, current_user %>  is currently reading: <%= @book.collect{ |f| link_to(f.title, book_path(:id => f.olidb))}.to_sentence.html_safe %></h2> 

		<h3>Past Reads:</h3>
		<ul>
  	<% @past.each do |past| %>
 			<li><%= link_to past.title, book_path(:id => past.olidb) %> by <%= past.author %></li>
  	<% end %>
	</ul>
	<h3>Future Reads:</h3>
	<ul>
  	<% @future.each do |future| %>
 			<li><%= link_to future.title, book_path(:id => future.olidb) %> by <%= future.author %></li>
  	<% end %>
	</ul>
	<h3>Recommended:</h3>
	
	<h3>Recent activity:</h3>
	<% @activities.each do |activity| %>
	<div class="activit">
		<%= link_to activity.owner.name, activity.owner if activity.owner %>
		<%= render_activity activity %>
	<% end %>

</div>