<% unless user_signed_in? %>
<%= render 'users/outshow' %>
<% else %>
<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<div id="profile-content">
					<div id="profile-card">
						<% if @user.id != current_user.id %>
							<% if current_user.following?(@user) %>
								<button class="btn btn-default btn-sm pull-right"><%= link_to "Unfollow", unfollow_user_path(@user) %></button>
								<button class="btn btn-bookloop btn-sm pull-right" data-toggle="modal" data-target="#newMessageModal">
								<img src="https://s3.amazonaws.com/bklp/message_icon_new.png"> 
								</button>
							<% else %>
								<button class="btn btn-default btn-sm pull-right"><%= link_to "Follow", follow_user_path(@user) %></button>
							<% end %>
						<% end %>

						<% if @user.id == current_user.id %>
						<a href="<%= edit_user_registration_path %>">
							<%= image_tag @user.avatar.url, :class=>"img-circle", :mouseover =>"assets/edit-pro.png" %>
							<div id="edit-profile-overlay">
								<div id="overlay-edit">Edit</div>
							</div>
						</a>
						<% else %>
						<div id="profile-card-img">
							<%= image_tag @user.avatar.url, :class=>"img-circle" %>
						</div>
						<% end %>

						<% if @book_current.any? %>
							<% if @user.id == current_user.id %>
								<p id="currently-reading"><strong>You</strong> are currently reading <%= @book_current.collect{ |f| link_to(Book.find(f.book_id).title, book_path("#{f.book_id}-#{Book.find(f.book_id).title.parameterize}"))}.to_sentence.html_safe %></p>
							<% else %>
								<p id="currently-reading"><strong><%= @user.name %></strong> is currently reading <%= @book_current.collect{ |f| link_to(Book.find(f.book_id).title, book_path("#{f.book_id}-#{Book.find(f.book_id).title.parameterize}"))}.to_sentence.html_safe %></p>
							<% end %>
						<% else %>
							<% if @user.id == current_user.id %>
								<p id="currently-reading"><strong>You</strong> are not reading any books at the moment.</p>
								<form accept-charset="UTF-8" action="/books" method="get" id="secondary-search">
									<input type="text" name="search" class="form-control" placeholder="Find a book" id="find-book">
									<button id="secondary-search-btn" class="btn btn-bookloop">Search</button>
								</form>
							<% else %>
								<p id="currently-reading"><strong><%= @user.name %></strong> is not reading any books at the moment.</p>
							<% end %>
						<% end %>
					</div>
					<div id="recommended-reads">
						<p><%= link_to "Recommended Reading", recommendations_user_path(@user) %></p>
						<div class="row">
							<% @recommended_books.each do |recbook| %> 
							<div class="col-md-3">
								<%= link_to (image_tag("http://images.amazon.com/images/P/#{Book.find(recbook.book_id).isbn}.01.LZZZZZZ.jpg")), book_path("#{recbook.book_id}-#{Book.find(recbook.book_id).title.parameterize}") %>
							</div>
							<% end %>
						</div>	
					</div>
					<div id="recommended-authors">
						<hr>
						<div class="row">
							<% @recommended_authors.each do |recauth| %> 
							<div class="col-md-2">
								<div class="author-avatar">
									<%= link_to (image_tag(Author.find(recauth.author_id).image_url, :class => "auth-pro")), author_path("#{recauth.author_id}-#{Author.find(recauth.author_id).name.parameterize}")%>
								</div>
								<%= link_to Author.find(recauth.author_id).name, author_path("#{recauth.author_id}-#{Author.find(recauth.author_id).name.parameterize}") %>
							</div>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div id="past-reads">
								<p><%= link_to "Past Reads", readlist_past_user_path(@user) %></p>
								<ul>
									<% @book_past.each do |past| %>
		          					<li>
		          						<%= link_to Book.find(past.book_id).title, book_path("#{past.book_id}-#{Book.find(past.book_id).title.parameterize}") %> 
		          						
		          						<span class="past-read-author">by: 
														<%= Book.find(past.book_id).authors.collect{ |f| link_to f.name, author_path("#{f.id}-#{f.name.parameterize}")}.to_sentence.html_safe %>
		          						</span>
		          					</li>
		          					<% end %>
		          				</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div id="future-reads">
								<p><%= link_to "Future Reads", readlist_future_user_path(@user) %></p>
								<ul>
									<% @book_future.each do |future| %>
		        					<li>
												<%= link_to Book.find(future.book_id).title, book_path("#{future.book_id}-#{Book.find(future.book_id).title.parameterize}") %>
		        					
			        					<span class="past-read-author">by: 
													<%= Book.find(future.book_id).authors.collect{ |f| link_to f.name, author_path("#{f.id}-#{f.name.parameterize}")}.to_sentence.html_safe %>
			        					</span>
											</li>
		          		<% end %>
		          				</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% if signed_in? %>
	<div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	  	<%= simple_form_for @conversation, url: conversations_path do |f| %>
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 class="modal-title" ><%= image_tag(@user.avatar(:thumb), :class=>"img-circle") %>Send a message to <%= @user.name %></h4>
	      </div>
	      <div class="modal-body" style="padding: 20px;">
	      		<%= f.simple_fields_for :messages do |m| %>
							<%= m.input :body, input_html: {class: 'form-control', rows: 10}, wrapper_html: {class: 'form-group'}, label: false %>

							<%= m.input :user_id, input_html: {value: current_user.id}, as: :hidden %>
						<% end %>

						<%= hidden_field_tag :recipient_id, @user.id %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <%= f.button :submit, "Send", class: 'btn btn-bookloop' %>
	      </div>
	    </div><!-- /.modal-content -->
	    <% end %>
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<% end %>


<% end %>



