<div class="bl-book-page">
	<div align="right">
	<% if current_user.follow(@user)%>
 	 <button><%= link_to "Unfollow", unfollow_user_path(@user) %></button>
 	 <% else %>
 	 <button><%= link_to "Follow", follow_user_path(@user) %></button>
 	 <% end %>
 	</div>
	<h2><%= link_to @user.name, current_user %>  is currently reading: </h2> 
	<h3>
 	<ul>
 	 
	 <%= @book.collect{ |f| link_to(f.title, book_path(:id => f.olidb))}.to_sentence.html_safe %>
	 
	</ul>
</h3>
		<h3>Past Reads:</h3>
		<ul>
  	<% @past.each do |past| %>
 			<li><%= link_to past.title, book_path(:id => past.olidb) %> by <%= past.author %></li>
  	<% end %>
	</ul>
	<h3>Future Reads:</h3>
	<ul>
  	<% @future.each do |future| %>
 			<li><%= link_to future.title, book_path(:id => future.olidb) %> by <%= future.author %></li>
  	<% end %>
	</ul>
	<h3>Recommended:</h3>
	
	<h3>Latest activity:</h3>
	<% @activities.each do |activity| %>
	<div class="activit">
		<%= link_to activity.owner.name, activity.owner if activity.owner %>
		<%= render_activity activity %>
	<% end %>

</div>