<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<div id="profile-content">
					<div id="profile-card">
						<% if @user.id == current_user.id %>
								<%# Do nothing since the current user is looking at his own profile %>
							<% else %>
								<% if current_user.following?(@user) %>
									<button class="btn btn-default btn-sm pull-right"><%= link_to "Unfollow", unfollow_user_path(@user) %></button>
								<% else %>
									<button class="btn btn-default btn-sm pull-right"><%= link_to "Follow", follow_user_path(@user) %></button>
								<% end %>
							<% end %>
						<% if @user.id == current_user.id %>
						<a href="<%= edit_user_registration_path %>">
							<%= image_tag @user.avatar.url, :class=>"img-circle", :mouseover =>"assets/edit-pro.png" %>
						</a>
						<p id="currently-reading"><strong><%= @user.name %></strong> is currently reading <%= @book.collect{ |f| link_to(f.title, book_path(:id => f.olidb))}.to_sentence.html_safe %></p>
						<% else %>
						<div id="profile-card-img">
							<%= image_tag @user.avatar.url, :class=>"img-circle" %>
						</div>
						<p id="currently-reading"><strong><%= @user.name %></strong> is currently reading <%= @book.collect{ |f| link_to(f.title, book_path(:id => f.olidb))}.to_sentence.html_safe %></p>
						<% end %>
					</div>
					<div id="recommended-reads">
						<p>Recommended Reading</p>
						<div class="row">
							<% @recommended_books.each do |recbook| %> 
							<div class="col-md-3">
								<%= link_to (image_tag("http://images.amazon.com/images/P/#{Book.find_by_olidb(recbook.item_id).isbn}.01.ZTZZZZZ.jpg")), book_path(recbook.item_id) %>
							</div>
							<% end %>
						</div>	
					</div>
					<div id="recommended-authors">
						<p>Recommended Authors</p>
						<div class="row">
							<% @recommended_authors.each do |recauth| %> 
							<div class="col-md-2">
								<div class="author-avatar">
									<%= image_tag(@client.author(recauth.item_id).image_url, :class => "auth-pro") %>
								</div>
								<%= link_to @client.author(recauth.item_id).name, author_book_path(recauth.item_id) %>
							</div>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div id="past-reads">
								<p>Past reads</p>
								<ul>
									<% @past.each do |past| %>
		          					<li>
		          						<%= link_to past.title, book_path(:id => past.olidb) %> 
		          						
		          						<span class="past-read-author">by: 
														<% bookauthor = @client.book(past.olidb) %>
														<% if bookauthor.authors.author[0].blank? %>
															<%= link_to bookauthor.authors.author.name, author_book_path(bookauthor.authors.author.id) %>
														<% else %>
															<%= bookauthor.authors.author.collect{ |f| link_to f.name, author_book_path(f.id)}.to_sentence.html_safe %>
														<% end %>
		          						</span>
		          					</li>
		          		<% end %>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div id="future-reads">
								<p>Future reads</p>
								<ul>
									<% @future.each do |future| %>
		        					<li>
												<%= link_to future.title, book_path(:id => future.olidb) %>
		        					
			        					<span class="past-read-author">by: 
													<% futureauthor = @client.book(future.olidb) %>
													<% if futureauthor.authors.author[0].blank? %>
														<%= link_to futureauthor.authors.author.name, author_book_path(futureauthor.authors.author.id) %>
													<% else %>
														<%= futureauthor.authors.author.collect{ |f| link_to f.name, author_book_path(f.id)}.to_sentence.html_safe %>
													<% end %>
			        					</span>
											</li>
		          		<% end %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	/*$('.sortable').sortable({forcePlaceholderSize: true}).bind('sortupdate', function(e, ui) {
		var d = [];
		$('.sortable li').each( function() {
			var book_id = $(this).attr('book-id');
			var order = $(this).index() + 1;
			d.push({'book_id': book_id, 'order': order});
		});
		var data = {'data': d}
		console.log(d);
			$.post('/books/reorder', data, function(resp) {
				alert(resp);
			});
	});*/
	// tooltip to change the book status
	/*<% if @user.id == current_user.id %>
	var tooltipBtn = '<%= button_to "Abandon it", {:controller => :books, :action => "destroy"}, :method => :delete, :type => "button", :class => "btn btn-block btn-sm btn-default" %> <%= button_to "Finished!", {:controller => :books, :action => 'update'}, :method => :put, :type => "button", :class => "btn btn-block btn-sm btn-default" %>'
	$('#currently-reading a').popover({
		html: true,
		placement: 'bottom',
		trigger: 'click',
		content: tooltipBtn

		
	}).mouseover( function() {
		var _this = this;
		$(this).popover('show');
		$(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
	});
	<% end %>*/
</script>
