<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<div id="profile-content">
				<% if @user.id == current_user.id %>
								<%# Do nothing since the current user is looking at his own profile %>
							<% else %>
								<% if current_user.following?(@user) %>
									<%= link_to 'Unfollow', unfollow_user_path(@user), class: 'btn btn-default btn-sm pull-right connect', remote: true %>
								<% else %>
									<%= link_to 'Follow', follow_user_path(@user), class: 'btn btn-primary btn-sm pull-right connect', remote: true %>
								<% end %>
							<% end %>
					<div id="profile-card">
						<% if @user.id == current_user.id %>
						<a href="<%= edit_user_registration_path %>">
							<%= image_tag @user.avatar.url, :class=>"img-circle", :mouseover =>"assets/edit-pro.png" %>
							<div id="edit-profile-overlay">
								<div id="overlay-edit">Edit</div>
							</div>
						</a>
						<% else %>
						<div id="profile-card-img">
							<%= image_tag @user.avatar.url, :class=>"img-circle" %>
						</div>
						<% end %>

						<% if @book_current.any? %>
							<% if @user.id == current_user.id %>
								<p id="currently-reading"><strong>You</strong> are currently reading <%= @book_current.collect{ |f| link_to(Book.find(f.book_id).title, book_path(f.book_id))}.to_sentence.html_safe %></p>
							<% else %>
								<p id="currently-reading"><strong><%= @user.name %></strong> is currently reading <%= @book.collect{ |f| link_to(f.title, book_path(:id => f.olidb))}.to_sentence.html_safe %></p>
							<% end %>
						<% else %>
							<% if @user.id == current_user.id %>
								<p id="currently-reading"><strong>You</strong> are not reading any books at the moment.</p>
							<% else %>
								<p id="currently-reading"><strong><%= @user.name %></strong> is not reading any books at the moment.</p>
							<% end %>
						<% end %>
					</div>
					<div id="recommended-reads">
						<p><%= link_to "Recommended Reading", recommendations_user_path(@user) %></p>
						<div class="row">
							<% @recommended_books.each do |recbook| %> 
							<div class="col-md-3">
								<%= link_to (image_tag("http://images.amazon.com/images/P/#{Book.find(recbook.book_id).isbn}.01.LZZZZZZ.jpg")), book_path(recbook.book_id) %>
							</div>
							<% end %>
						</div>	
					</div>
					<div id="recommended-authors">
						<hr>
						<div class="row">
							<% @recommended_authors.each do |recauth| %> 
							<div class="col-md-2">
								<div class="author-avatar">
									<%= link_to (image_tag(@client.author(recauth.item_id).image_url, :class => "auth-pro")), author_book_path(recauth.item_id)%>
								</div>
								<%= link_to @client.author(recauth.item_id).name, author_book_path(recauth.item_id) %>
							</div>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div id="past-reads">
								<p><%= link_to "Past Reads", readlist_past_user_path(@user) %></p>
								<ul>
									<% @book_past.each do |past| %>
		          					<li>
		          						<%= link_to Book.find(past.book_id).title, book_path(:id => past.book_id) %> 
		          						
		          						<span class="past-read-author">by: 
														<%= Book.find(past.book_id).authors.collect{ |f| link_to f.name, author_path(f.id)}.to_sentence.html_safe %>
		          						</span>
		          					</li>
		          					<% end %>
		          				</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div id="future-reads">
								<p><%= link_to "Future Reads", readlist_future_user_path(@user) %></p>
								<ul>
									<% @book_future.each do |future| %>
		        					<li>
												<%= link_to Book.find(future.book_id).title, book_path(:id => future.book_id) %>
		        					
			        					<span class="past-read-author">by: 
													<%= Book.find(future.book_id).authors.collect{ |f| link_to f.name, author_path(f.id)}.to_sentence.html_safe %>
			        					</span>
											</li>
		          		<% end %>
		          				</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	/*$('.sortable').sortable({forcePlaceholderSize: true}).bind('sortupdate', function(e, ui) {
		var d = [];
		$('.sortable li').each( function() {
			var book_id = $(this).attr('book-id');
			var order = $(this).index() + 1;
			d.push({'book_id': book_id, 'order': order});
		});
		var data = {'data': d}
		console.log(d);
			$.post('/books/reorder', data, function(resp) {
				alert(resp);
			});
	});*/
	// tooltip to change the book status
	/*<% if @user.id == current_user.id %>
	var tooltipBtn = '<%= button_to "Abandon it", {:controller => :books, :action => "destroy"}, :method => :delete, :type => "button", :class => "btn btn-block btn-sm btn-default" %> <%= button_to "Finished!", {:controller => :books, :action => 'update'}, :method => :put, :type => "button", :class => "btn btn-block btn-sm btn-default" %>'
	$('#currently-reading a').popover({
		html: true,
		placement: 'bottom',
		trigger: 'click',
		content: tooltipBtn

		
	}).mouseover( function() {
		var _this = this;
		$(this).popover('show');
		$(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
	});
	<% end %>*/
</script>
