
<br>
<div class="bl-book-page">
	<div align="right">
		
		<% if @user.id == current_user.id %>
			<%# Do nothing since the current user is looking at his own profile %>
		<% else %>
			<% if current_user.following?(@user) %>
				<button><%= link_to "Unfollow", unfollow_user_path(@user) %></button>
			<% else %>
				<button><%= link_to "Follow", follow_user_path(@user) %></button>
			<% end %>
		<% end %>
	
 	</div>
 	<div id="avatar" align="center">
 		<% if @user.id == current_user.id %>
		<a href="<%= edit_user_registration_path %>"><%= image_tag @user.avatar.url, :class=>"img-circle" %></a>
		<% else %>
		<%= image_tag @user.avatar.url, :class=>"img-circle" %>
		<% end %>
 		<%#<%= image_tag avatar_big_url(@user), :class=>"img-circle"  %>
 		
	</div>
	<%# if current user and if not reading any books - Search form to add #%>
	<h3 align="center"><%= link_to @user.name, current_user %>  is currently reading: <span class="probook"><%= @book.collect{ |f| link_to(f.title, book_path(:id => f.olidb))}.to_sentence.html_safe %></span>.
	</h3> 
	<hr>
	<div class="well">
		
			<ul class="inline">
				<li><h4>Recommended Reading:</h4></li>
				<li></li>
			</ul>
			
	</div>
     <h4>Past Reads:</h4>
       <ul>
          <% @past.each do |past| %>
          <li><%= link_to past.title, book_path(:id => past.olidb) %> by <%= past.author %>.</li>
			
          <% end %>
          <span class="article-feed">
         <% @pastlink.each do |pastlink| %>
          <li><%= link_to pastlink.title, pastlink.source, target: "_blank"  %> | <%= link_to "Discuss", link_path(:id => pastlink.id)%></li>
         <% end %>
          </span>
       </ul>
       <hr>
     <h4>Future Reads:</h4>
     <ul>
      <% @future.each do |future| %>
        <li><%= link_to future.title, book_path(:id => future.olidb) %> by <%= future.author %></li>
          <% end %>
          <span class="article-feed">
          <% @futurelink.each do |futurelink| %>
            <li><%= link_to futurelink.title, link_path(:id => futurelink.id), target: "_blank" %> </li>
          <% end %>
  		  </span>
     </ul>
     <hr>
	<h5>Recent activity:</h5>
	<% @activities.each do |activity| %>
	<div class="activit">
		<%= link_to activity.owner.name, activity.owner if activity.owner %>
		<%= render_activity activity %>
	<% end %>
	</div>

	</div>
		
