
<br>
<div class="bl-book-page">
	<div align="right">
		
		<% if @user.id == current_user.id %>
			<%# Do nothing since the current user is looking at his own profile %>
		<% else %>
			<% if current_user.following?(@user) %>
				<button><%= link_to "Unfollow", unfollow_user_path(@user) %></button>
			<% else %>
				<button><%= link_to "Follow", follow_user_path(@user) %></button>
			<% end %>
		<% end %>
	
 	</div>
 	<div class="avatar" align="center">
 		<% if @user.id == current_user.id %>
		<a href="<%= edit_user_registration_path %>">
			<%= image_tag @user.avatar.url, :class=>"img-circle" %>
		</a>
		<% else %>
			<%= image_tag @user.avatar.url, :class=>"img-circle" %>
		<% end %>
 		<%#<%= image_tag avatar_big_url(@user), :class=>"img-circle"  %>
 		
	</div>
	<%# if current user and if not reading any books - Search form to add #%>

	<h3 align="center"><%= link_to @user.name, current_user %>  is currently reading: 
			<span class="probook"><%= @book.collect{ |f| link_to(f.title, book_path(:id => f.olidb))}.to_sentence.html_safe %></span>
		<% if @user.id == current_user.id %>
			    <div id="search-form">
		             <form class="form" action="/search" method="get">
                     <input class="indx" id="search" type="text" name="q" value>
                     <input class="mag-glass" id="search_btn" type="submit" value="Search">
		       		</form>
		        </div>
		<% else %>
	    <% end %>
	
		
	</h3>
	<hr>
	<div class="well">
		
			<ul class="inline">
				<li><h4>Recommended Reading:</h4></li>
				
					<%# @recommended.each do |recommended| %> 
					<li><%#= link_to recommended.title, book_path(:id => recommended.olidb) %></li>
					<%# end %>
			</ul>
			
	</div>
	<div class="row-fluid marketing" align="center">
	<div class="span6">
     <h4>Past Reads</h4>
     <hr>
       <ul class="unstyled">
          <% @past.each do |past| %>
          <li>
          	<%= link_to past.title, book_path(:id => past.olidb) %>  <%= past.author %>
          </li>
          <% end %>
         <!--  <span class="article-feed">
         <% @pastlink.each do |pastlink| %>
          <li><%= link_to pastlink.title, pastlink.source, target: "_blank"  %> | <%= link_to "Discuss", link_path(:id => pastlink.id)%></li>
         <% end %>
          </span> -->
       </ul>
   </div>
   <div class="span6">
     <h4>Future Reads</h4> 
     <hr>
     <ul class="unstyled">
      <% @future.each do |future| %>
        <li><%= link_to future.title, book_path(:id => future.olidb) %>  <%= future.author %></li>
          <% end %>
        <!--   <span class="article-feed">
          <% @futurelink.each do |futurelink| %>
            <li><%= link_to futurelink.title, link_path(:id => futurelink.id), target: "_blank" %> </li>
          <% end %>
  		  </span> -->
     </ul>
 	</div>
 </div>
     	
     <% if @user.id == current_user.id %>
     <hr>
    <div class="rec-act" align="center">
     
	  <h5>Recent activity:</h5>
	   <% @activities.each do |activity| %>
		<div class="activit">
		
		  <% if activity.owner == current_user %>
			<%= link_to activity.owner.name, activity.owner if activity.owner %>
		  <% else %>
			<%= link_to activity.owner.name, activity.owner if activity.owner %>
		  <% end %>

		<%= render_activity activity %>
		
		<span class="feed-comment">
			<% Acomment.all.where(:activity_id => activity.id).each do |acomment| %>
			<br>
			 <%= link_to User.find(acomment.user_id).name, user_path(acomment.user_id) %>:<span style="font-size: 12px;"> <%= acomment.comment %></span>
			 <% end %>
		 </span>
		 
		<div id="ac-<%= activity.id %>" style="display: none;">
		<%= form_for @acomment, :url => acomments_path, method: :post do |f| %>
			<%= f.hidden_field :activity_id, :value => activity.id %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.text_field :comment %>
			<%= f.submit "Comment", :class => "btn" %>
		<% end %>
		</div>
		
		<script type="text/javascript">
			$(function(){
			  $('#al-<%= activity.id %>').click(function(){
			     $('#ac-<%= activity.id %>').toggle();
			  });
			});
		</script>
			 
		
		<% end %>

	</div>
	<% else %>
	<% end %>
	
</div>
		
