<% if user_signed_in? %>
<h1 align="center"> BookFeed </h1>
<h5 align="center"> (stay in the loop) </h5>
<hr>
<div class="feed" align="center">
<% @activities.each do |activity| %>
<div class="activit">
	<%= link_to activity.owner.name, activity.owner if activity.owner %>
	<%= render_activity activity %>
	<hr>
<% end %>
</div>


<% else %>
<div class="hero-unit">
	<div class="header-image-wrapper">
		<div class="top-half">
			<h1 align="center">Most People Don't read;</h1>
		</div>
	</div>
	<h1 align="center"><%= link_to "Find the ones who do.", new_user_registration_path, class: "button" %></h1>
</div>


<div align="center" id="mod-search">
                 <%= form_tag("/search", method: "get") do %>
                 <%= text_field_tag(:q) %>
                 <%= submit_tag("Look for a book", class: "btn") %>
                 <% end %>
                </div>
<% end %>
					
