<% if user_signed_in? %>
<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<!-- activity feed -->
<div class="col-md-8 col-md-offset-1" id="activity-feed">
	
	<ul class="recent-activity">
		<label>People reading with me</label>
		<% @book_current.each do |book| %>
			<% Book.find(book.book_id, :order => "created_at DESC").users.each do |user| %>

				<% if user.id == current_user.id %>
				<!-- Do nothing since this is you -->
				<% else %>
				<%= link_to (image_tag user.avatar(:thumb), :class=>"img-circle reading-with"), user_path("#{user.id}-#{user.name.parameterize}") %>
				<% end %>
			<% end %>
		<% end %>
	</ul>
	
		
		<label class="last">Recent Activity</label>

    <ul class="recent-activity">
        <%= render @activities %>
    </ul>
    
	<%= will_paginate @activities %>
</div>

			</div>
		</div>
	</div>
</div>
<% else %>
<%= render 'pages/walkthru' %>
<% end %>
