<% if user_signed_in? %>
<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<!-- activity feed -->
<div class="col-md-8 col-md-offset-1" id="activity-feed">
	
	<ul class="recent-activity">
		<label>people in my loop</label>
		<% @book_current.each do |book| %>
			<% Book.find(book.book_id, :order => "created_at DESC").users.each do |user| %>

				<% if user.id == current_user.id %>
				<!-- Do nothing since this is you -->
				<% else %>
				<%= link_to (image_tag ("#{user.avatar(:thumb)}"), :class=>"img-circle reading-with", data: { toggle: "tooltip"}, :title => "#{user.name} in #{book.book.title}"), user_path("#{user.id}-#{user.name.parameterize}") %>
				<% end %>
			<% end %>
		<% end %>

		<script>
		$('#activity-feed img').tooltip({
		placement: 'bottom'
		});
		</script>

	</ul>
	
		
		<label class="last">Recent Activity</label>

    		<ul class="recent-activity">
       			 <%= render @activities %>
    		</ul>
    
			<%= will_paginate @activities %>
			</div>

			</div>
		</div>
	</div>
</div>
<!-- guide modal -->
<div class="modal fade" id="guide-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Welcome to Bookloop</h4>
	      	</div>
            <div class="modal-body">
            	<div class="guide-slide step1">
	            	<div class="avatar">
	            		<img id="guide-1" src="https://s3.amazonaws.com/bklp/guide1.png"> 
	            	</div>
	            	<p>Search and add books that your are reading, have read or planning to read.</p>
            	</div>
            	<div class="guide-slide step2">
	            	<div class="avatar">
	            		<img id="guide-2" src="https://s3.amazonaws.com/bklp/guide2.png"> 
	            	</div>
	            	<p>Discover and follow other readers.</p>
            	</div>
            	<div class="guide-slide step3">
	            	<div class="avatar">
	            		<img id="guide-3" src="https://s3.amazonaws.com/bklp/guide3.png"> 
	            	</div>
	            	<p>Start discussing your favourite parts with others.</p>
            	</div>
            	<ul class="mini-nav">
            		<li class="active" slide="step1">&#8226;</li>
            		<li slide="step2">&#8226;</li>
            		<li slide="step3">&#8226;</li>
            	</ul>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-bookloop" data-dismiss="modal">Get Started!</button>
            </div>
        </div>
    </div>
</div>
<% else %>
<%= render 'pages/walkthru' %>
<% end %>
