<h2>Search result</h2>

<div class="bl-book-page">

	<h2>Search result</h2>
	
	<% if @results %>
		<ul>
			<% @results.each do |book| %>
					<li>
					  <%= link_to book.title, book_path(:id => book.text[0]) %> (<%= book.publish_year.blank? ? "n/a" : book.publish_year[0] %>) by <%= book.author_name[0] %>, with <%= link_to Book.all.where(:olidb => book.text[0]).count, book_path(:id => book.text[0]) %> other readers. 
					  
					</li>
			<% end %>
		</ul>
	<% else %>
		Sorry, we could not find any books searching: "<%= params[:q] %>"
	<% end %>
	
</div>
