<div class="bookstatus" align="center">
	<ul class="inline">
	<%# Is the user signed in?%>
	  <% if user_signed_in? %>
		<%# This will check if the user is reading the book and display options %>
		<li><% if Book.where(:user_id => current_user.id).where(:olidb => params[:id]).exists? %>
		
			<% if @mybook[0].status == 1 %>
				You've already finished this book.
			<% end %>
		<ul class="inline">
			<li>
			<% if @mybook[0].status == 0 %>
				<%= button_to "Abandon it", {:controller => :books, :action => 'destroy', :id => @mybook[0].id}, :method => :delete, :class => "btn", :confirm => "Are you sure?" %>		
			</li>
			<li>
				<%= button_to "Finished!", {:controller => :books, :action => 'update', :id => @mybook[0].id}, :method => :put, :class => "btn", :confirm => "Are you sure?" %>
			</li>
			<% end %>
		</li>
		<li>
			<% if @mybook[0].status == 2 %>
				<%# abandon future book link %>
				<%= button_to "Start reading...", {:controller => :books, :action => 'start_future_read', :id => @mybook[0].id}, :method => :put, :class => "btn", :confirm => "Is this the book you are about to read?" %>
			<% end %>
		</li>

		<% else %>
		<li>
			<%= form_for(@newbook) do |f| %>
				<%= f.hidden_field :title, :value => @thebook.work.original_title %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "0" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Currently reading it.", :class => "btn" %>
			<% end %>
		</li>
		<li>	
			<%= form_for @newbook, :url => {:action => "past_list"} do |f| %>
				<%= f.hidden_field :title, :value => @thebook.work.original_title %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "1" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Already read it.", :class => "btn" %>
			<% end %>
		</li>
		<li>
			<%= form_for @newbook, :url => {:action => "future_list"} do |f| %>
				<%= f.hidden_field :title, :value => @thebook.work.original_title %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "2" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Going to read it.", :class => "btn" %>
			<% end %>
		</li>
		<% end %>
	<% else %>
		
		<%= link_to "Sign in to stay in the loop", new_user_registration_path, class: "btn" %>
	</ul>

	<% end %>

	</div>
	
	</div>