

	<%# Is the user signed in?%>
	  <% if user_signed_in? %>
		<%# This will check if the user is reading the book and display options %>
		<% if Book.where(:user_id => current_user.id).where(:olidb => params[:id]).exists? %>
		  <div class="btn-group btn-group-sm pull-right" id="book-actions">
			<% if @mybook[0].status == 1 %>
				<% if @recommends.exists? %>
						<label> 
							<% if @myrecommend.exists? %>
								<button type="button" class="btn btn-default btn-sm" disabled>You've already finished and recommended this book.</button>
									<% else %>
										<%= form_for(@new_recommend) do |f| %>
											<%= f.hidden_field :user_id, :value => current_user.id %>
											<%= f.hidden_field :item_id, :value => params[:id] %>
											<%= f.hidden_field :item_type, :value => "book" %>
											<%= f.button "Recommend", :class => "btn btn-default btn-sm" %>
										<% end %>
										
									<% end %>
									</label>
									<br>
				<% else %>
				<%= form_for(@new_recommend) do |f| %>
									<%= f.hidden_field :user_id, :value => current_user.id %>
									<%= f.hidden_field :item_id, :value => params[:id] %>
									<%= f.hidden_field :item_type, :value => "book" %>
									<%= f.button "You've finished this book. Would you like to recommend it?", :class => "btn btn-default btn-sm" %>
								<% end %>
				<% end %>

			<% end %>
			
			<% if @mybook[0].status == 0 %>
				<%= button_to "Abandon it", {:controller => :books, :action => 'destroy', :id => @mybook[0].id}, :method => :delete, :class => "btn btn-default btn-sm", :type => "button", :confirm => "Are you sure?" %>		
			
				<%= button_to "Finished!", {:controller => :books, :action => 'update', :id => @mybook[0].id}, :method => :put, :class => "btn btn-default btn-sm", :type => "button"%>

			  <% end %>
			</div>
			<div class="btn-group btn-group-sm pull-right" id="book-actions">
			<% if @mybook[0].status == 2 %>
				<%# abandon future book link %>
				<%= button_to "Start reading...", {:controller => :books, :action => 'start_future_read', :id => @mybook[0].id}, :method => :put, :class => "btn btn-default", :type => 'button' %>
			<% end %>
			</div>

		<% else %>
		<div id="book-actions" class="pull-right">
			<%= form_for(@newbook) do |f| %>
				<%= f.hidden_field :title, :value => @thebook.title %>
				<%= f.hidden_field :isbn, :value => @thebook.isbn %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "0" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.button "Currently reading it", :class => "btn btn-default btn-sm" %>
			<% end %>
		
			<%= form_for @newbook, :url => {:action => "past_list"} do |f| %>
				<%= f.hidden_field :title, :value => @thebook.title %>
				<%= f.hidden_field :isbn, :value => @thebook.isbn %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "1" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.button "Already read it", :class => "btn btn-default btn-sm" %>
			<% end %>
		
			<%= form_for @newbook, :url => {:action => "future_list"} do |f| %>
				<%= f.hidden_field :title, :value => @thebook.title %>
				<%= f.hidden_field :isbn, :value => @thebook.isbn %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "2" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.button "Going to read it", :class => "btn btn-default btn-sm"%>
			<% end %>
			</div>
		<% end %>
	
	<% else %>
		
		<%= link_to "Sign in to stay in the loop", new_user_registration_path, class: "btn btn-default" %>
	

	<% end %>