<div align="center">
	<span class="img-circle">
	<%= image_tag((@theauthor.image_url), :class => "auth-pro") %><br />
	</span>
<h2><%= @theauthor.name %></h2>
</div>

<p><%= @theauthor.about %></p>
<hr>
<b>Fans of</b>: <%= @theauthor.name %>:

<h4>Works by <%= @theauthor.name %>:</h4>