<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<!-- book info -->
				<div class="col-md-9 col-md-offset-1" id="book-info">

<div align="center">
	<div id="author-avatar"><%= image_tag((@theauthor.image_url), :class => "auth-pro") %></div><br />
	
<h2><%= @theauthor.name %></h2>
</div>
<p align="center"><%= @theauthor.born_at %> - <%= @theauthor.died_at %></p>

<% if @myrecommend.exists? %>
	<b>You and <%= pluralize(@total_recommends, "other") %> have recommended this author<br /><br /></b>
<% else %>
	<%= form_for(@new_recommend) do |f| %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :item_id, :value => params[:id] %>
		<%= f.hidden_field :item_type, :value => "author" %>
		<%= f.button "Recommend author", :class => "btn btn-default btn-sm" %>
	<% end %><br />
<% end %>

<p><%= raw(@theauthor.about) %></p>
<hr>
<div id="currently-reading">
<i>Fans of <%= @theauthor.name %>:</i>
	<ul>
	 <% @users_fan.each do |fan| %>
		      <li>
	   <%= link_to (image_tag User.find_by_id(fan.user_id).avatar.url(:thumb), :class=>"img-circle", :title => "#{User.find_by_id(fan.user_id).name}", data: { toggle: "tooltip"}), user_path(fan.user_id) %>
		      </li>
		<% end %>
	</ul>
</div>
<hr>

<h4>Works by <%= @theauthor.name %>:</h4>
<div class="row">
<br>
<% @authorbooks.results.work.each do |book| %>
	<div class="col-md-2">
		<br>
	<%= link_to (image_tag ("#{book.best_book.image_url}"), :class=>"book-cover-small", :title => "#{book.best_book.title}", data: { toggle: "tooltip"}), book_path("#{book.best_book.id}-#{book.best_book.title.parameterize}") %>
	</div>
<% end %>
</div>

			</div>
		</div>
	</div>
  </div>
</div>

<script>
	$('.book-cover-small').tooltip({
		placement: 'bottom'
	});
	$('#discover-users img').tooltip({
		placement: 'bottom'
	});
</script>
