<%= image_tag(@theauthor.image_url) %><br />
<h3><%= @theauthor.name %></h3>

<p><%= @theauthor.about %></p>

<b>Written:</b>: <%= @theauthor.works_count %> books.

<h4>Books by <%= @theauthor.name %></h4>