<div align="center">
	<%= image_tag((@theauthor.image_url), :class => "auth-pro") %><br />
	
<h2><%= @theauthor.name %></h2>
</div>
<p align="center"><%= @theauthor.born_at %> - <%= @theauthor.died_at %></p>

<p><%= @theauthor.about %></p>
<hr>
<b>Fans of</b>: <%= @theauthor.name %>:

<h4>Works by <%= @theauthor.name %>:</h4>

<ul>
<% @authorbooks.results.work.each do |book| %>
	<li><%= link_to book.best_book.title, book_path("#{book.best_book.id}") %></li>
<% end %>
</ul>


<%= @theauthor.books.image_url %>