<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<!-- book info -->
				<div class="col-md-9 col-md-offset-1" id="book-info">

<div align="center">
	<%= image_tag((@theauthor.image_url), :class => "auth-pro") %><br />
	
<h2><%= @theauthor.name %></h2>
</div>
<p align="center"><%= @theauthor.born_at %> - <%= @theauthor.died_at %></p>

<p><%= raw(@theauthor.about) %></p>
<hr>
<i>Fans of <%= @theauthor.name %>:</i>
	


<hr>
<div class="row">
  <div class="span9">
<h4>Works by <%= @theauthor.name %>:</h4>
<% @authorbooks.results.work.each do |book| %>
	<li class="span12"><%= link_to book.best_book.title, book_path("#{book.best_book.id}") %>
		<br>

	<%= (image_tag ("#{book.best_book.small_image_url}"), :class=>"book-cover-small")%>
	</li>
<% end %>
</div>
</div>

			</div>
		</div>
	</div>
  </div>
</div>
