<% unless user_signed_in? %>
<%= render 'books/outshow' %>
<% else %>
<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<!-- book info -->
				<div class="col-md-9 col-md-offset-1" id="book-info">
					<h2><%= @book.title %></h2><%= link_to '', "http://www.amazon.com/dp/#{@book.isbn}/?tag=book0477-20", :target => "_blank", :class => "btn btn-default btn-sm", :class => "amazon-link", :type => 'button' %>
					<%# This will check if the user is reading the book and display options %>
					<%= render 'books/bookstatus' %>

					<p id="book-author">
						by: <%= @book.authors.collect{ |f| link_to f.name, author_path("#{f.id}-#{f.name.parameterize}")}.to_sentence.html_safe %></h3>
					</p>
					
					<div id="book-nav">
						<ul>
							<li><a href="#_" class="active" for="book-desc">Description</a></li>
							<li><a href="#_" for ="book-discussions">Discussions</a></li>
							<li><a href="#_" for="book-reviews">Reviews</a></li>
							<li><a href="#_" for="book-suggestions">Suggestions</a></li>
						</ul>
					</div>
					<div id="book-desc">
						<div class="row">
							<div class="col-md-2">
								<%= (image_tag ("http://images.amazon.com/images/P/#{@book.isbn}.01.LZZZZZZ.jpg"), :class => "book-cover")%>
							</div>
							<div class="col-md-8 col-md-offset-2">
								<p>
									<%= raw(@book.description) %><br /><br />
								</p>
							</div>
						</div>
					</div>
					<div id="currently-reading">
						<% if @recommends.any? %>
							<label><b><%= pluralize(@recommends.count, "recommendation") %></b></label>
							<% else %>
							<% end %>
							<br />
							<% if Archive.where(:book_id => params[:id]).where(:status  => "0").any? %>
						    <label>People currently reading this book</label>
						      <ul>
							    <% Archive.where(:book_id => params[:id]).where(:status  => "0").each do |reading| %>
							      <li>
							    	<%= link_to (image_tag ("#{User.find(reading.user_id).avatar.url(:thumb)}"), data: { toggle: "tooltip"}, :title => "#{User.find(reading.user_id).name}"), user_path("#{reading.user_id}-#{User.find(reading.user_id).name.parameterize}") %>
							      </li>
								<% end %> 
							</ul>
							<% else %>
							<% end %>
					</div>
					<div id="book-reviews">
						<div class="row">
							<% if current_user.books.where(:id => params[:id]).exists? %>
								<% if @status[0].status == 1 %>
									<% if @myreview.exists? %>
									<% else %>
										<div class="col-md-12" id="review-form">
											<p><button class="btn btn-sm btn-bookloop" data-toggle="modal" data-target="#review-modal">Review this book</button></p>
											<hr>
										</div>
										<div class="clearfix"></div>
									<% end %>
								<% else %>
								<% end %>
							<% else %>
							<% end %>
							<% if @book.reviews.each do |review| %>
							<div class="col-md-6">
								<%= link_to (image_tag User.find_by_id(review.user_id).avatar.url(:thumb)), user_path(review.user_id) %>
								<div class="review-content">
									<p>
										<strong><%= User.find(review.user_id).name %></strong> said:<br>
										<%=  review.body %>
									</p>
								</div>
							</div>
							<% end.empty? %>
							<div class="col-md-6">
								<label> No reviews yet</label>
							</div>
							<% end %>
						</div>
					</div>
					<div id="book-suggestions">
						<div class="row">
							<% @suggestions.each do |suggest| %>
							<div class="col-md-3">
								<% if suggest.blank? %>
									<% if Book.find(suggest.book_id).isbn.blank? %>
										<%= link_to (image_tag ("http://placehold.it/195x275")), book_path(:id => suggest.book_id) %>
									<% else %>
										<%= link_to (image_tag ("http://images.amazon.com/images/P/#{Book.find(suggest.book_id).isbn}.01.LZZZZZZ.jpg")), book_path(:id => suggest.book_id) %>
									<% end %>
									<%= link_to Book.find(suggest.book_id).title, book_path(:id => suggest.book_id) %>
								<% else %>
								<% end %>
							</div>
							<% end.empty? %>
						</div>
					</div>
						

					<script>
					$('#currently-reading ul li img').tooltip({
					placement: 'top'
					});
						App.opts.book_id = "<%= @book.id %>";
						App.opts.user = {
							"name": "<%= current_user.name %>",
							"avatar_url": "<%= current_user.avatar.url %>",
							"id": <%= current_user.id %>
						};

						function textAreaAdjust(o) {
						    o.style.height = "1px";
						    o.style.height = (25+o.scrollHeight)+"px";
						}
					</script>
					
					<%= render 'discussions/list' %>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- finished modal -->
<div class="modal fade" id="finished-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" value="<%= @user.id %>" id="user_id">
                <div class="modal-actions">
                    <input type="hidden" value="<%= current_user.id %>" id="recommend-user">
                    <input type="hidden" value="<%= @book.id %>-<%= @slug %>" id="recommend-item">
                    <input type="hidden" value="book" id="recommend-type">
                    <button type="button" class="btn btn-bookloop btn-sm" id="recommend-book">Recommend</button>
                    <button type="button" class="btn btn-default btn-sm" disabled="disabled" id="recommend-success">Thanks for recommending this book!</button>
                </div>
                
                <div class="modal-comment">
                    <div id="modal-comment-content">
                        <textarea id="review_body" placeholder="In a few words, what did you think of this book?" class="form-control"></textarea>
                        <button id="post-review" class="btn btn-bookloop btn-sm pull-right">Post review</button>
                        <div class="clearfix"></div>
                    </div>
                    <div id="modal-comment-success">
                        <p>Your review for <%= @book.title %> has been posted!</p>
                    </div>
                </div>
                <div class="modal-recommendations">
                    <p class="lead">Looking for something to read next?</p>
                    <div class="row" id="book-covers">
                           <% if @suggestions.each do |suggest| %>
                             <div class="col-md-3">

                                <% if Book.find(suggest.book_id).blank? %>
								<%= link_to (image_tag ("http://placehold.it/195x275")), book_path(:id => suggest.book_id) %>
								<% else %>
									<% if Book.find(suggest.book_id) == @book.id? %>
									<% end %>
								<%= link_to (image_tag ("http://images.amazon.com/images/P/#{Book.find(suggest.book_id).isbn}.01.LZZZZZZ.jpg")), book_path(:id => suggest.book_id) %>
								<% end %>
                             </div>
                            <% end.empty? %>
                            <div class="col-md-12">
                            <p style= "color: #C9C9C9; margin-top: 70px;">Check out the Discover page for more suggestions.</p>
                            </div>
                            <% end %>
                    </div>
                </div>
                <div class="modal-btncontainer">
                    <%= link_to "No thanks, I have a previous engagement.", user_path(current_user), :class => "btn btn-bookloop" %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- finished modal -->
<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">A review for <i><%= @book.title %></i></h4>
	      	</div>
            <div class="modal-body">
            	<input type="hidden" value="<%= current_user.id %>" id="user_id">
            	<input type="hidden" value="<%= @book.id %>" id="book_id">
                <div id="add-review">
					<textarea id="review_body" class="book-show-review form-control" placeholder="Write your review here..."></textarea>
					<p id="review-modal-action"> 
						<button class="btn btn-sm btn-bookloop" id="post-review-book-show">Review this book</button>
					</p>
				</div>
            </div>
        </div>
    </div>
</div>
<% end %>
