<div class="bl-book-page">
	
	<div align="center">
		<h3><%= @thebook.work.original_title %></h3>
		<h4>by 
			<% if @thebook.authors.author[0].blank? %>
				<%= @thebook.authors.author.name %>
			<% else %>
				<%= @thebook.authors.author.collect{ |f| f.name}.to_sentence.html_safe %></h4>
			<% end%>
	</div>
	
	<div class="book-cover" align="center">
		<%= image_tag("http://content-3.powells.com/cgi-bin/imageDB.cgi?isbn=#{@thebook.isbn}")%>
	</div>
	
	<h4>Description</h4>
	<span style="font-size: 10px;"><%= @thebook.description %></span>
	
	<h4>Book status:</h4>
	
	<%# Is the user signed in?%>
	<% if user_signed_in? %>
		<%# This will check if the user is reading the book and display options %>
		<% if Book.where(:user_id => current_user.id).where(:olidb => params[:id]).exists? %>
		
			<% if @mybook[0].status == 1 %>
				You've already finished this book.
			<% end %>
		
			<% if @mybook[0].status == 0 %>
				<%= button_to "Abandon this book", {:controller => :books, :action => 'destroy', :id => @mybook[0].id}, :method => :delete, :class => "btn", :confirm => "Are you sure?" %>			
				<%= button_to "I have finished reading this book", {:controller => :books, :action => 'update', :id => @mybook[0].id}, :method => :put, :class => "btn", :confirm => "Are you sure?" %>
			<% end %>
		
			<% if @mybook[0].status == 2 %>
				<%# abandon future book link %>
				<%= button_to "Start reading...", {:controller => :books, :action => 'start_future_read', :id => @mybook[0].id}, :method => :put, :class => "btn", :confirm => "Is this the book you are about to read?" %>
			<% end %>
		
		<% else %>
		
			<%= form_for(@newbook) do |f| %>
				<%= f.hidden_field :title, :value => @thebook.work.original_title %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "0" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Currently reading it.", :class => "btn" %>
			<% end %>
			
			<%= form_for @newbook, :url => {:action => "past_list"} do |f| %>
				<%= f.hidden_field :title, :value => @thebook.work.original_title %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "1" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Already read it.", :class => "btn" %>
			<% end %>
			
			<%= form_for @newbook, :url => {:action => "future_list"} do |f| %>
				<%= f.hidden_field :title, :value => @thebook.work.original_title %>
				<%= f.hidden_field :author, :value => "" %>
				<%= f.hidden_field :olidb, :value => params[:id] %>
				<%= f.hidden_field :olida, :value => "" %>
				<%= f.hidden_field :status, :value => "2" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Going to read it.", :class => "btn" %>
			<% end %>
		
		<% end %>
	<% else %>
		
		<%= link_to "Sign in to track this book.", new_user_registration_path, class: "btn" %>

	<% end %>
	
	<h4>People currently reading this book:</h4>
	
	<% @users_reading.each do |reading| %>
		<%= link_to (image_tag User.find_by_id(reading.user_id).avatar.url(:thumb), :class=>"img-circle-thumb"), user_path(reading.user_id) %><br>
		<small>
		<%= link_to User.find_by_id(reading.user_id).name, user_path(reading.user_id) %><br>
		</small>
	<% end %>
	
	<h4>Discussions</h4>
	
	<%= @thebook %>
	
</div>
