<div id="main">
	<div class="container">
		<div class="row">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<!-- book info -->
				<div class="col-md-9 col-md-offset-1" id="book-info">
					<h2><%= @thebook.title %></h2>
					<%# This will check if the user is reading the book and display options %>
					<% if Book.where(:user_id => current_user.id).where(:olidb => params[:id]).exists? %>
					<div class="btn-group btn-group-sm pull-right" id="book-actions">
						<button type="button" data-toggle="modal" data-target="#finished-modal" class="btn btn-default">Finsished!</button>
						<button type="button" class="btn btn-default">Abandon it</button>
					</div>
					<% else %>
					<div class="btn-group btn-group-sm pull-right" id="book-actions">
						<button type="button" class="btn btn-default">Reading it</button>
						<button type="button" class="btn btn-default">Already read it</button>
						<button type="button" class="btn btn-default">Going to read</button>
					</div>
					<% end %>
					<p id="book-author">by:
						<% if @thebook.authors.author[0].blank? %>
							<%= link_to @thebook.authors.author.name, author_book_path(@thebook.authors.author.id) %>
						<% else %>
							<%= @thebook.authors.author.collect{ |f| link_to f.name, author_book_path(f.id)}.to_sentence.html_safe %></h3>
						<% end%>
					</p>
					<div id="book-nav">
						<ul>
							<li><a href="#_" class="active">Description</a></li>
							<li><a href="#_">Discussions</a></li>
							<li><a href="#_">Reviews</a></li>
							<li><a href="#_">Suggestions</a></li>
						</ul>
					</div>
					<div id="book-info">
						<div class="row">
							<div class="col-md-2">
								<%= (image_tag ("http://content-3.powells.com/cgi-bin/imageDB.cgi?isbn=#{@thebook.isbn}"))%>
							</div>
							<div class="col-md-8 col-md-offset-2">
								<p>
									<%= raw(@thebook.description) %>
								</p>
							</div>
						</div>
					</div>
					<div id="currently-reading">
						<label>People currently reading this book</label>
						<ul>
							<% @users_reading.each do |reading| %>
							<li>
								<%= link_to (image_tag User.find_by_id(reading.user_id).avatar.url(:thumb)), user_path(reading.user_id) %>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- finished modal -->
<div class="modal fade" id="finished-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-actions">
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default">Recommend</button>
						<button type="button" class="btn btn-default">No, Thanks</button>
					</div>
				</div>
				<div class="modal-comment">
					<textarea placeholder="In a few words, what did you think of this book?" class="form-control"></textarea>
				</div>
				<div class="modal-recommendations">
					<p class="lead">Looking for something to read next?</p>
					<p>(Others read these books after reading <%= @thebook.title %>)</p>
					<div class="row" id="book-covers">
						<div class="col-md-4">
							<img src="http://placehold.it/130x180">
						</div>
						<div class="col-md-4">
							<img src="http://placehold.it/130x180">
						</div>
						<div class="col-md-4">
							<img src="http://placehold.it/130x180">
						</div>
					</div>
				</div>
				<div class="modal-btncontainer">
					<button class="btn btn-bookloop">No thanks, I have a previous engagement.</button>
				</div>
			</div>
		</div>
	</div>
</div>
