<div class="bl-book-page">
		<%# This will check if the user is reading the book and display options %>
		<% if Book.where(:user_id => current_user.id).where(:olidb => params[:id]).exists? %>
		  <div class="rec" align="right">
			    <%# if Book.where(:recommend => "false") %>
				<button type="button" class="btn btn-large" disabled>Recommended!</button>
				<%# else %>
				<%= button_to "Recommend", {:controller => :books, :action => 'rec_list', :id => @mybook[0].id}, :method => :post, :class => "btn"%>
				<%# end %>
		   </div>
		 <% else %>
		<% end %>
			
	<div align="center">
		<h2><%= @thebook.title %></h2>
		<h4>BY</h4>
		<h3>
			<% if @thebook.authors.author[0].blank? %>
				<%= link_to @thebook.authors.author.name, author_book_path(@thebook.authors.author.id) %>
			<% else %>
				<%= @thebook.authors.author.collect{ |f| link_to f.name, author_book_path(f.id)}.to_sentence.html_safe %></h3>
			<% end%>
	</div>
	
	<div class="b-cover" align="center">
		<%= (image_tag ("http://content-3.powells.com/cgi-bin/imageDB.cgi?isbn=#{@thebook.isbn}"), :class=>"book-cover")%>
	</div> 
	
	<h4>Book status:</h4>
	<%= render 'books/bookstatus' %>

	<h4>Description</h4>
	<span style="font-size: 10px;"><%= @thebook.description %></span>
	
	<h4>People currently reading this book:</h4>
	
	<% @users_reading.each do |reading| %>

	<ul class="inline">
		<li>
		<%= link_to (image_tag User.find_by_id(reading.user_id).avatar.url(:thumb), :class=>"img-circle-thumb"), user_path(reading.user_id) %><br>
		<small>
		<%= link_to User.find_by_id(reading.user_id).name, user_path(reading.user_id) %><br>
		</small>
		</li>
	</ul>
	<% end %>

	<hr>

	<h4>Discussions</h4>
	<small>(coming soon...)</small>
 <hr class="featurette-divider">
  <div class="featurette">
  	
	<h4>Reviews</h4>
	<div class="span4">

		<% Review.all do |review| %>
		<% if @mybook[0].status == 1 %>
		<%= simple_form_for(@review, html: { class: "form-horizontal"}) do |f| %>
  			<%= f.error_notification %>
  			<%= f.input :body, :placeholder => "what do you think?" %>
			<%= f.hidden_field :user_id, :value => current_user.id %>

  			<div class="form-actions">
   			 <%= f.button :submit, class: "btn btn-primary" %>
  			</div>
 			 <% end %>
 			 <% else %>
 			 <% end %>
					<br>
						 <%= link_to User.find(review.user_id).name, user_path(review.user_id) %>:<span style="font-size: 12px;"> <%= review.body %></span>
							 <% end %>
		
	</div>

  </div>

</div>
