<br>
<h3 align="center"><%= link_to @link.title, @link.source %></h3>

<%= render 'editdel' %>
<hr>
<div align="center">
		<%= link_to "Read it now.", @link.source, class: "btn " %>
		<br>
		<br>
		<%= link_to "I've read this article.", '#', class: "btn btn-success" %>
		<%= link_to "I'll read it later.", '#', class: "btn btn-primary" %>
	</div>

<hr>

	<h4>People currently reading this book:</h4>

	