<br>
<h3 align="center"><%= link_to @link.title, @link.source %></h3>
<h5 align="center"> originally posted by 
	<% @users_poster.each do |poster| %>
	<%= link_to User.find_by_id(poster.user_id).name, user_path(@link.user_id) %>
	<% end %> with the note:
<i><%= @link.note %> </i>
</h5>


<%= render 'editdel' %>
<hr>
<div align="center">
	<ul class="inline">
	
		<%# This will check if the user is reading the book and display options %>
		<% if Link.where(:user_id => current_user.id).where(:id => params[:id]).exists? %>
		<li>
		<% if @mylink[0].status == 1 %>
			You've already read this article.
			( <%= link_to "But you can read it again", @link.source, target: "_blank" %>)
		<% end %>
		</li>
		<li>
		<% if @mylink[0].status == 2 %>
			<%= button_to "Read it now.", {:controller => :links, :action => 'start_future_link', :id => @mylink[0].id}, :method => :put, :class => "btn", :confirm => "Recommend?" %>
			<% link_to @link.source %>

		<% end %>
		<% end %>
		</li>
		<% else %>
			<li>
		<%= form_for @newlink, :url => {:action => "pastlink_list"} do |f| %>
				<%= f.hidden_field :title, :value => @link.title %>
				<%= f.hidden_field :source, :value => @link.source %>
				<%= f.hidden_field :id, :value => params[:id] %>
				<%= f.hidden_field :status, :value => "1" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Already read it.", :class => "btn" %>
				<% end %>
			</li>
			<li>
				<%= form_for @newlink, :url => {:action => "futurelink_list"} do |f| %>
				<%= f.hidden_field :title, :value => @link.title %>
				<%= f.hidden_field :source, :value => @link.source %>
				<%= f.hidden_field :id, :value => params[:id] %>
				<%= f.hidden_field :status, :value => "2" %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit "Read it later.", :class => "btn" %>
				<% end %>	
			</li>
		</ul>
	</div>

<hr>

	<h4>People who have read this article:</h4>
	<% @users_read.each do |read| %>
	<%= link_to (image_tag User.find_by_id(read.user_id).avatar.url(:thumb), :class=>"img-circle-thumb"), user_path(read.user_id) %><br>
	  <small>
		<%= link_to User.find_by_id(read.user_id).name, user_path(read.user_id) %><br>
	  </small>
	<% end %>

	<hr>
	<h4>Discussion: <small><i>coming soon</i></small></h4>



	