<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/"><img src="https://s3.amazonaws.com/bklp/logo_biga.png"></a>

                <div class="nav-collapse">
                 <ul class="nav">
                 <div class="nav-srch" align="center">
                <form role="search" class="search-form" action="/search" method="get">
                <label>
                    <input type="text" 
                    class="search-field" 
                    placeholder="Find a book..."  
                    value="" name="q"
                    title="Sök efter:">
                </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
                   <span class="add-art">
                     <%= link_to "+", new_link_path %>
                  </span>
                </div>
                 <!--<div id="mod-search">
                    
                    <%= form_tag("/search", method: "get") do %>
                     <%= text_field_tag(:q) %>
                     <%= submit_tag("Find a book", class: "mag-glass", id: "search_btn") %>
                 <% end %>
                </div>!-->

                    </ul>
                    
                        <ul class="nav pull-right">
                      <% if user_signed_in? %>
                         <nav onmouseover="">
                        <%= link_to '', current_user, :title => "Profile" %>
                        <%= link_to '', edit_user_registration_path, :title => "Settings" %>
                     </nav>
                      <% else %>

                    <li><%= link_to "Login", new_user_session_path %></li>
                      <% end %>
                          </ul>
                  </ul>
                </div>
        </div>
    </div>
</div>