<!-- main nav -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <img src="https://s3.amazonaws.com/bklp/nav-settings.png">
            </button>
            <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/bklp/logo_biga.png" alt="Bookloop"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<%= form_tag books_path, :class => "navbar-form navbar-left", :method => 'get' do %>
						<%= text_field_tag :search, params[:search], :placeholder => "Find a book...", :accesskey => "S", :class => 'search' %>
                        <button class="btn btn-default" id="brapi-search">press enter to search</button>
					<% end %>
            
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <li id="profile-name"><%= link_to current_user.name, current_user %></li>
                <li id="profile-img"><%= link_to (image_tag current_user.avatar.url), current_user %></li>
                <li id="settingdrop">
                    <div class="navdropdown">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://s3.amazonaws.com/bklp/nav-settings.png">
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li id="editdrop" role="presentation"><%= link_to "Edit Profile", edit_user_registration_path  %>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li id="logoutdrop" role="presentation"><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                            </li>

                          </ul>
                    </div>        
                </li>
                <% else %>
                <li><%= link_to "Login", new_user_session_path %></li>
                <% end %>
            </ul>

        </div>
    </div>
</nav>