<!-- sidebar -->
<% if user_signed_in? %>
<div class="col-md-2" id="sidebar">
	<label>Browse</label>
	<ul class="nav nav-pills nav-stacked menu">
			<li><%= link_to "Discover", users_path, :id => "discover" %></li> 
			<li><a href="" id="group">Groups</a></li>
	</ul>
	<hr>
	<label>Your Books</label>
	<ul class="nav nav-pills nav-stacked menu">
			<li><%= link_to "Current Reads", current_user, :id => "current" %></li>
			<li><%= link_to "Future Reads", readlist_future_user_path(current_user), :id => "future" %></li>
			<li><%= link_to "Past Reads", readlist_past_user_path(current_user), :id => "past" %></li>
	</ul>
	<hr>
	<label>You</label>
	<ul class="nav nav-pills nav-stacked menu">
			<li><%= link_to 'Messages', conversations_path, id: 'messages' %></li>
			<li><%= link_to "Settings", edit_user_registration_path, :id => "settings" %></li> 
	</ul>
</div>
<% else %>
<% end %>
