<!DOCTYPE html>
<html ng-app="Bookloop">
<head>
  <title>Bookloop</title>
  <%= stylesheet_link_tag  "bootstrap.min" %>
  <%= stylesheet_link_tag  "app" %>
  <%= stylesheet_link_tag  "discussions" %>
  <%= stylesheet_link_tag  "animate" %>
  <link rel="icon" 
      type="image/png" 
      href="https://s3.amazonaws.com/bklp/favicon_ba.ico">
  
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "events" %>
  <%= javascript_include_tag "activities" %>
  <%= javascript_include_tag "typeahead" %>
  <%= javascript_include_tag "angular" %>
  <%= javascript_include_tag "angular-resource" %>
  <%= javascript_include_tag "discussion" %>
  <%= javascript_include_tag "discussion_ctrl" %>
  <%= javascript_include_tag "ng_focus" %>
  <%= javascript_include_tag "underscore" %>
  <%= javascript_include_tag "jquery_ujs1" %>

  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>



  <script>
    <% if user_signed_in? %>

    function updateBookStatus(user_id, book_id, isbn, status, title, obj) {
      var d = {'book[user_id]': user_id, 'book[olidb]': book_id, 'book[isbn]': isbn, 'book[status]': status, 'book[title]': title, 'json': true}
      var url = '';
      switch (status) {
        case '0':
          url = '/books';
          break;
        case '1':
          url = '/books/'+book_id+'/past_list';
          break;
        case '2':
          url = '/books/'+book_id+'/future_list';
          break;
      }
      $.post(url, d, function(resp) {

      })
        .done(function() {
          obj.siblings('button').removeClass('btn-success');
          obj.addClass('btn-info');
          var user_id = '<%= current_user.id %>';
          var redirectUrl = '/users/'+user_id;
          window.location.replace(redirectUrl);
        })
        .fail(function() {
          alert( "error" );
        });
    }

    $(document).on('click', '.tt-suggestion button', function() {
      var title = $(this).attr('book-title');
      var status = $(this).attr('status');
      var book_id = $(this).attr('book');
			var isbn = $(this).attr('isbn');
      var user_id = '<%= current_user.id %>';
      updateBookStatus(user_id, book_id, isbn, status, title, $(this));
    });

    $(document).ready( function() {

      var BookloopEngine = {
          compile: function(template) {
              return {
                  render: function(context) {
                      return template.replace(/\{\{(\w+)\}\}/g, function (match,p1) { return context[p1]; });
                  }
              };
          }
      };

      $('#q').typeahead({
        name: 'books',
        valueKey: 'book',
        cache: true,
        remote: {
          url: '/search/autocomplete?utf8=✓&q=%QUERY',
        },
        template: '<span class="autocomplete"><a href="/books/{{book_id}}-{{shortbook}}">{{book}}</a></span><br><div class="btn-group btn-default"><button book-title="{{book}}" book="{{book_id}}-{{shortbook}}" isbn="{{isbn}}" status="1" type="button" class="btn btn-default btn-xs">Already read it</button><button book-title="{{book}}" book="{{book_id}}-{{shortbook}}" isbn="{{isbn}}" status="0" type="button" class="btn btn-default btn-xs">Reading it</button><button type="button" class="btn btn-default btn-xs" book-title="{{book}}" book="{{book_id}}-{{shortbook}}" isbn="{{isbn}}" status="2">Going to read</button></div>',
        engine: BookloopEngine
      });
    });

    <% else %>

    $(document).ready( function() {

      var BookloopEngine = {
          compile: function(template) {
              return {
                  render: function(context) {
                      return template.replace(/\{\{(\w+)\}\}/g, function (match,p1) { return context[p1]; });
                  }
              };
          }
      };

      $('#q').typeahead({
        name: 'books',
        valueKey: 'book',
        cache: true,
        remote: {
          url: '/search/autocomplete?utf8=✓&q=%QUERY',
        },
        template: '<span class="autocomplete"><a href="/books/{{book_id}}-{{shortbook}}">{{book}}</a></span>',
        engine: BookloopEngine
      });

    });

    <% end %>
  </script>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-info">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      <%end%>
    </div>
    <%= yield %>
</body>
</html>
